In [1]:
import sys
import os
import os.path
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV


pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 500)
np.set_printoptions(
    edgeitems=5, linewidth=200, suppress=True, nanstr='NaN',
    infstr='Inf', precision=5
    )


data_path = "https://gist.githubusercontent.com/jtrive84/c1e23acb2624733ada178260cc3c683c/raw/3cf7e81263de12727ac4d6b7391bf6766f942f2b/admissions.csv"
df = pd.read_csv(data_path)


categorical_vars = ["rank",]
continuous_vars  = ["gre", "gpa",]
y = df["admit"].values

In [2]:
# Scale and center continuous variates.
std_scaler  = StandardScaler()
dfcontinuous = pd.DataFrame(
    std_scaler.fit_transform(df[continuous_vars].values), columns=continuous_vars
    )


# One-hot encode categorical variates.
dfcategorical = pd.get_dummies(df[categorical_vars], columns=categorical_vars, drop_first=True)

     rank_2  rank_3  rank_4
0         0       1       0
1         0       1       0
2         0       0       0
3         0       0       1
4         0       0       1
5         1       0       0
6         0       0       0
7         1       0       0
8         0       1       0
9         1       0       0
10        0       0       1
11        0       0       0
12        0       0       0
13        1       0       0
14        0       0       0
15        0       1       0
16        0       0       1
17        0       1       0
18        1       0       0
19        0       0       0
20        0       1       0
21        1       0       0
22        0       0       1
23        0       0       1
24        1       0       0
25        0       0       0
26        0       0       0
27        0       0       1
28        1       0       0
29        0       0       0
..      ...     ...     ...
370       1       0       0
371       0       1       0
372       0       0       0
373       0       0       0
374       1       0       0
375       0       0       1
376       1       0       0
377       1       0       0
378       0       1       0
379       1       0       0
380       1       0       0
381       1       0       0
382       1       0       0
383       0       0       0
384       1       0       0
385       0       0       0
386       1       0       0
387       1       0       0
388       1       0       0
389       1       0       0
390       1       0       0
391       1       0       0
392       0       1       0
393       1       0       0
394       0       1       0
395       1       0       0
396       0       1       0
397       1       0       0
398       1       0       0
399       0       1       0

[400 rows x 3 columns]